body{
	margin:0; 
	padding:0;
	background:#ddd;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#topo{
	background: url("imagens/topo.jpg") no-repeat;
	height: 232px;
	width: 600px;
}
#meio{
	background: url("imagens/fundo.jpg") repeat;
	width: 600px;
}
.anuncio{
	background-color: #FFF;
	width: 578px;
	height: 184px;
	position: relative;
	left: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	border: solid 1px #CCC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 			border-radius: 4px;
}
.anuncio p {
	font-size: 13px;
	margin: 3px 3px 0 3px;
}
.anuncio h3 {
	color: #003f30;
	margin: 3px 0 0 0;
}
.anuncio h4 {
	margin: 0 10px 3px 0;
	float: right;
	color: #8C4600;
}
.anuncio span{
	float: right;
	color: #8C4600;
	margin-right: 10px;
	font-size: 13px;
}
.anuncio-destaque{
	background-color: #FFF;
	width: 578px;
	height: 505px;
	position: relative;
	left: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	border: solid 1px #CCC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 			border-radius: 4px;
}
#img-destaque{
	width: 565px;
	height: 345px;
	margin: 5px;
	float: left;
	border-width: 1px;
	border-style: dashed;
	border-color: #ddd;
}
.anuncio-destaque h1{
	color: #003f30;
	text-align: center;
	margin: 0px;
}
.anuncio-destaque h4 {
	margin: 0 10px 3px 0;
	float: right;
	color: #8C4600;
}
.anuncio-destaque p{
	font-size: 13px;
	margin: 3px 5px 0 5px;
}
.anuncio-destaque p strong{
	text-align: center;
	font-size: 20px;
	color: #8C4600;
	display: block;
}
.anuncio-destaque span{
	float: right;
	color: #8C4600;
	margin-right: 10px;
	font-size: 13px;
}
.anuncio-destaque #titulo{
	display: block;
	color: #003f30;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.p-valor{
	margin-top: 13px;
	position: relative;
	left: 12px;
	font-size: 13px;
}
#rodape{
	background: url("imagens/fundo.jpg") repeat;
	height: 144px;
	width: 600px;
}
#rodape span {
	text-align: center;
}
.telefone h1 {
	margin: 0px;
	color: #003f30;
	text-align: center;
}
.endereco {
	margin-top: 5px;
	color: #003f30;
	position: relative;
	left: 160px;
}
img{
	width: 170px;
	height: 170px;
	margin: 5px;
	float: left;
	border-width: 1px;
	border-style: dashed;
	border-color: #ddd;
}